# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://neuvxwmcunspvtvlvwgi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ldXZ4d21jdW5zcHZ0dmx2d2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NzA4MTIsImV4cCI6MjA5MzE0NjgxMn0.Z-Ic2Ouyv5k3b2_R1ygkc-BU3SKrljCTufodOPCWzY4

# Map Configuration (If using Mapbox/Google Maps in the future)
# NEXT_PUBLIC_MAPBOX_TOKEN=your-mapbox-token
